node_modules
.idea
.temp
.sass-cache
www/bower_components
coverage
platforms
plugins
*.swp
*.swo
*.log
*.DS_Store
www/scripts/constants.js
*.suo

.idea/workspace.xml
.bowerrc
.idea/workspace.xml
www/scripts/bundle.js.map
.idea/workspace.xml
.idea/workspace.xml
